body {
  background: linear-gradient(
    90deg,
    rgb(107, 107, 183) 0%,
    rgb(147, 147, 173) 100%
  );
}

.image {
  max-width: 25%;
}

.App{
  width: 750px;
  margin: auto;
  border: 10px solid #73AD21;

}

button{
  background-color: rgb(70, 70, 168);
}

.link {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
margin-right: 20px;
align-self: center;
}

