body {
  background: linear-gradient(
    90deg,
    rgb(55, 55, 120) 0%,
    rgb(55, 55, 75) 100%
  );
}

.image {
  max-width: 25%;
}

.App{
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;

}


